EDeliveryIntegrationService_InlineSchema3.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts.ESubject" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts.ESubject" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:ns2="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts" xmlns:ns3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ns4="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts.ESubject" xmlns:ns5="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums" xmlns:ns6="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="EDeliveryIntegrationService_InlineSchema6.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="EDeliveryIntegrationService_InlineSchema2.xsd"/>
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums" schemaLocation="EDeliveryIntegrationService_InlineSchema4.xsd"/>
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts" schemaLocation="EDeliveryIntegrationService_InlineSchema5.xsd"/>
  <xs:complexType name="ArrayOfDcInstitutionInfo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcInstitutionInfo" nillable="true" type="tns:DcInstitutionInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcInstitutionInfo" nillable="true" type="tns:ArrayOfDcInstitutionInfo"/>
  <xs:complexType name="DcInstitutionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcSubjectInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeadInstitution" nillable="true" type="tns:DcSubjectPublicInfo"/>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="SubInstitutions" nillable="true" type="tns:ArrayOfDcSubjectPublicInfo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcInstitutionInfo" nillable="true" type="tns:DcInstitutionInfo"/>
  <xs:complexType name="DcSubjectInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcSubjectPublicInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="tns:DcAddress"/>
          <xs:element minOccurs="0" name="UniqueSubjectIdentifier" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="VerificationInfo" nillable="true" type="q1:ArrayOfanyType" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcSubjectInfo" nillable="true" type="tns:DcSubjectInfo"/>
  <xs:complexType name="DcSubjectPublicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ElectronicSubjectId" type="ser:guid"/>
      <xs:element minOccurs="0" name="ElectronicSubjectName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsActivated" type="xs:boolean"/>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProfileType" type="q2:eProfileType" xmlns:q2="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcSubjectPublicInfo" nillable="true" type="tns:DcSubjectPublicInfo"/>
  <xs:complexType name="DcAdministrativeActInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CreatedByInstitution" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CreatedOnDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean"/>
      <xs:element minOccurs="0" name="VerificationInfoType" type="q3:eVerificationInfoType" xmlns:q3="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcAdministrativeActInfo" nillable="true" type="tns:DcAdministrativeActInfo"/>
  <xs:complexType name="DcCertificateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Issuer" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ValidFrom" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ValidTo" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="VerificationInfoType" type="q4:eVerificationInfoType" xmlns:q4="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcCertificateInfo" nillable="true" type="tns:DcCertificateInfo"/>
  <xs:complexType name="DcInstitutionInfoInternal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcInstitutionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Type" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcInstitutionInfoInternal" nillable="true" type="tns:DcInstitutionInfoInternal"/>
  <xs:complexType name="DcLegalPersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcSubjectInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="DateOutOfForce" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="InForceDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="RegisteredBy" nillable="true" type="tns:DcPersonInfo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcLegalPersonInfo" nillable="true" type="tns:DcLegalPersonInfo"/>
  <xs:complexType name="DcPersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcSubjectInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="DateOfDeath" nillable="true" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcPersonInfo" nillable="true" type="tns:DcPersonInfo"/>
  <xs:complexType name="DcLegalPersonInfoInternal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcLegalPersonInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegistrationDcouments" nillable="true" type="q5:ArrayOfDcDocument" xmlns:q5="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcLegalPersonInfoInternal" nillable="true" type="tns:DcLegalPersonInfoInternal"/>
  <xs:complexType name="DcTokenVerificationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="VerificationInfoType" type="q6:eVerificationInfoType" xmlns:q6="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcTokenVerificationInfo" nillable="true" type="tns:DcTokenVerificationInfo"/>
  <xs:complexType name="DcElectronicIdentityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EGN" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FamilyNameLat" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GivenNameLat" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MiddleNameLat" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Spin" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="VerificationInfoType" type="q7:eVerificationInfoType" xmlns:q7="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcElectronicIdentityInfo" nillable="true" type="tns:DcElectronicIdentityInfo"/>
  <xs:complexType name="DcAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="CountryIso2" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcAddress" nillable="true" type="tns:DcAddress"/>
  <xs:complexType name="ArrayOfDcSubjectPublicInfo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcSubjectPublicInfo" nillable="true" type="tns:DcSubjectPublicInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcSubjectPublicInfo" nillable="true" type="tns:ArrayOfDcSubjectPublicInfo"/>
</xs:schema>