EDeliveryIntegrationService_InlineSchema5.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:ns2="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts" xmlns:ns3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:ns4="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts.ESubject" xmlns:ns5="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums" xmlns:ns6="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="EDeliveryIntegrationService_InlineSchema6.xsd"/>
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums" schemaLocation="EDeliveryIntegrationService_InlineSchema4.xsd"/>
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="EDeliveryIntegrationService_InlineSchema2.xsd"/>
  <xs:complexType name="ArrayOfDcDocument">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcDocument" nillable="true" type="tns:DcDocument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcDocument" nillable="true" type="tns:ArrayOfDcDocument"/>
  <xs:complexType name="DcDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="ContentEncodingCodePage" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DocumentRegistrationNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="SignaturesInfo" nillable="true" type="tns:ArrayOfDcSignatureValidationResult"/>
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="tns:DcTimeStamp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcDocument" nillable="true" type="tns:DcDocument"/>
  <xs:complexType name="ArrayOfDcSignatureValidationResult">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcSignatureValidationResult" nillable="true" type="tns:DcSignatureValidationResult"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcSignatureValidationResult" nillable="true" type="tns:ArrayOfDcSignatureValidationResult"/>
  <xs:complexType name="DcSignatureValidationResult">
    <xs:sequence>
      <xs:element name="_x003C_CertificateAlgorithm_x003E_k__BackingField" nillable="true" type="xs:string"/>
      <xs:element name="_x003C_ChainCertificates_x003E_k__BackingField" nillable="true" type="tns:ArrayOfDcChainCertificate"/>
      <xs:element name="_x003C_ChainErrors_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
      <xs:element name="_x003C_ContainsTimeStamp_x003E_k__BackingField" type="xs:boolean"/>
      <xs:element name="_x003C_Format_x003E_k__BackingField" nillable="true" type="xs:string"/>
      <xs:element name="_x003C_IsExpired_x003E_k__BackingField" type="xs:boolean"/>
      <xs:element name="_x003C_IsIntegrityValid_x003E_k__BackingField" type="xs:boolean"/>
      <xs:element name="_x003C_IsSignatureValid_x003E_k__BackingField" type="xs:boolean"/>
      <xs:element name="_x003C_IsTrustedSigner_x003E_k__BackingField" type="xs:boolean"/>
      <xs:element name="_x003C_Issuer_x003E_k__BackingField" nillable="true" type="xs:string"/>
      <xs:element name="_x003C_RevocationStatus_x003E_k__BackingField" type="q2:eRevokationResult" xmlns:q2="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
      <xs:element name="_x003C_Status_x003E_k__BackingField" type="q3:eVerificationResult" xmlns:q3="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
      <xs:element name="_x003C_SubjectEGN_x003E_k__BackingField" nillable="true" type="xs:string"/>
      <xs:element name="_x003C_Subject_x003E_k__BackingField" nillable="true" type="xs:string"/>
      <xs:element name="_x003C_TimeStampAuthority_x003E_k__BackingField" nillable="true" type="xs:string"/>
      <xs:element name="_x003C_TimeStampDate_x003E_k__BackingField" nillable="true" type="xs:dateTime"/>
      <xs:element name="_x003C_ValidFrom_x003E_k__BackingField" type="xs:dateTime"/>
      <xs:element name="_x003C_ValidTo_x003E_k__BackingField" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcSignatureValidationResult" nillable="true" type="tns:DcSignatureValidationResult"/>
  <xs:complexType name="ArrayOfDcChainCertificate">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcChainCertificate" nillable="true" type="tns:DcChainCertificate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcChainCertificate" nillable="true" type="tns:ArrayOfDcChainCertificate"/>
  <xs:complexType name="DcChainCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsRoot" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcChainCertificate" nillable="true" type="tns:DcChainCertificate"/>
  <xs:complexType name="DcTimeStamp">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TimeStampData" nillable="true" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcTimeStamp" nillable="true" type="tns:DcTimeStamp"/>
  <xs:complexType name="DcMessageDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DcMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttachedDocuments" nillable="true" type="tns:ArrayOfDcDocument"/>
          <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="TimeStampContent" nillable="true" type="tns:DcTimeStampMessageContent"/>
          <xs:element minOccurs="0" name="TimeStampNRD" nillable="true" type="tns:DcTimeStamp"/>
          <xs:element minOccurs="0" name="TimeStampNRO" nillable="true" type="tns:DcTimeStamp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DcMessageDetails" nillable="true" type="tns:DcMessageDetails"/>
  <xs:complexType name="DcMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DateReceived" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DateSent" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="IsDraft" type="xs:boolean"/>
      <xs:element minOccurs="0" name="ReceiverLogin" nillable="true" type="tns:DcLogin"/>
      <xs:element minOccurs="0" name="ReceiverProfile" nillable="true" type="tns:DcProfile"/>
      <xs:element minOccurs="0" name="SenderLogin" nillable="true" type="tns:DcLogin"/>
      <xs:element minOccurs="0" name="SenderProfile" nillable="true" type="tns:DcProfile"/>
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcMessage" nillable="true" type="tns:DcMessage"/>
  <xs:complexType name="DcLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="CertificateThumbprint" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ElectronicSubjectId" type="ser:guid"/>
      <xs:element minOccurs="0" name="ElectronicSubjectName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean"/>
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Profiles" nillable="true" type="tns:ArrayOfDcProfile"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcLogin" nillable="true" type="tns:DcLogin"/>
  <xs:complexType name="ArrayOfDcProfile">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcProfile" nillable="true" type="tns:DcProfile"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcProfile" nillable="true" type="tns:ArrayOfDcProfile"/>
  <xs:complexType name="DcProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ElectronicSubjectId" type="ser:guid"/>
      <xs:element minOccurs="0" name="ElectronicSubjectName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProfileType" type="q4:eProfileType" xmlns:q4="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcProfile" nillable="true" type="tns:DcProfile"/>
  <xs:complexType name="DcTimeStampMessageContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcTimeStampMessageContent" nillable="true" type="tns:DcTimeStampMessageContent"/>
  <xs:complexType name="ArrayOfDcMessage">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcMessage" nillable="true" type="tns:DcMessage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcMessage" nillable="true" type="tns:ArrayOfDcMessage"/>
  <xs:complexType name="DcPartialListOfDcMessageHR29gRRX">
    <xs:annotation>
      <xs:appinfo>
        <GenericType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="DcPartialListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts">
          <GenericParameter Name="DcMessage" Namespace="http://schemas.datacontract.org/2004/07/EDelivery.Common.DataContracts"/>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AllItemsCount" type="xs:int"/>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfDcMessage"/>
      <xs:element minOccurs="0" name="SortColumn" type="q5:eSortColumn" xmlns:q5="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
      <xs:element minOccurs="0" name="SortOrder" type="q6:eSortOrder" xmlns:q6="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPartialListOfDcMessageHR29gRRX" nillable="true" type="tns:DcPartialListOfDcMessageHR29gRRX"/>
  <xs:complexType name="DcPersonRegistrationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessibleProfiles" nillable="true" type="tns:ArrayOfDcSubjectShortInfo"/>
      <xs:element minOccurs="0" name="HasRegistration" type="xs:boolean"/>
      <xs:element minOccurs="0" name="PersonIdentificator" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPersonRegistrationInfo" nillable="true" type="tns:DcPersonRegistrationInfo"/>
  <xs:complexType name="ArrayOfDcSubjectShortInfo">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="DcSubjectShortInfo" nillable="true" type="tns:DcSubjectShortInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcSubjectShortInfo" nillable="true" type="tns:ArrayOfDcSubjectShortInfo"/>
  <xs:complexType name="DcSubjectShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EIK" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProfileType" type="q7:eProfileType" xmlns:q7="http://schemas.datacontract.org/2004/07/EDelivery.Common.Enums"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcSubjectShortInfo" nillable="true" type="tns:DcSubjectShortInfo"/>
</xs:schema>